## Deliverable 3. Create a Travel Itinerary Map.

In [39]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Busselton,AU,54.0,broken clouds,-33.65,115.33,Observatory Guest House
1,5,Mount Gambier,AU,46.4,clear sky,-37.83,140.77,Commodore on the Park
2,9,Faya,SA,64.4,scattered clouds,18.39,42.45,مقبرة ال مجمل
3,10,Kruisfontein,ZA,70.0,clear sky,-34.00,24.73,Oyster Bay House Rental
4,11,Itoman,JP,68.0,broken clouds,26.12,127.67,Southern Beach Hotel & Resort Okinawa

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Salisbury") & (vacation_df["Country"] == "GB")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Salisbury") & (vacation_df["Country"] == "GB")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Winchester") & (vacation_df["Country"] == "GB")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Ashington") & (vacation_df["Country"] == "GB")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Margate") & (vacation_df["Country"] == "GB")]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
182,610,Salisbury,GB,44.6,mist,51.07,-1.8,Mercure Salisbury White Hart Hotel

In [38]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

# Get index of lat and long columns in the dataframe
idxLat = vacation_end.columns.get_loc("Lat")
idxLng = vacation_end.columns.get_loc("Lng")

# Save converted arrays into vars to avoid performing the conversion twice, if done inline. index of 0 is used, as our dataframes are strictly single-row
startArr = vacation_start.to_numpy()[0]
endArr = vacation_end.to_numpy()[0]
stop1Arr = vacation_stop1.to_numpy()[0]
stop2Arr = vacation_stop2.to_numpy()[0]
stop3Arr = vacation_stop3.to_numpy()[0]

# Save lat-long pairs as tuples
start = (startArr[idxLat], startArr[idxLng])
end = (endArr[idxLat], endArr[idxLng])
stop1 = (stop1Arr[idxLat], stop1Arr[idxLng])
stop2 = (stop2Arr[idxLat], stop2Arr[idxLng])
stop3 = (stop3Arr[idxLat], stop3Arr[idxLng])

In [40]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
figDir = gmaps.figure()
vacationPath = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
figDir.add_layer(vacationPath)
figDir

Figure(layout=FigureLayout(height='420px'))

In [42]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,610,Salisbury,GB,44.6,mist,51.07,-1.80,Mercure Salisbury White Hart Hotel
1,666,Winchester,GB,48.2,broken clouds,51.07,-1.32,Lainston House
2,293,Ashington,GB,48.2,broken clouds,50.93,-0.39,Tirol House
3,604,Margate,GB,48.0,clear sky,51.38,1.39,Premier Inn Margate hotel

In [43]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [44]:
fig_travel_map = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map.
marker_layer_travel_map = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig_travel_map.add_layer(marker_layer_travel_map)
fig_travel_map

Figure(layout=FigureLayout(height='420px'))